<%= render 'list', books: @books %>
<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <tabel class="table">
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(params[:id]) do %>
            <%= @user.name %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(params[:id]) do %>
            <%= @books.title %>
          <% end %>
        </td>
        <td></td>
        <td>

        </td>
        <td>

        </td>
      </tr>
    </tbody>
  </tabel>
</div>